* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0f1419;
  color: #FFFFFF;
  min-height: 100vh;
}

button {
  font-family: inherit;
}
